
body {
    margin: 0;
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

body * {
    font-family: 'Microsoft YaHei';
    font-size:1em;
}

ul {
    margin: 0;
    padding: 0;
}

    ul li {
        list-style: none;
    }

#wrapper {
    background-color:#F4DED1;
    width:100%;
    height:100%;
}

#wrapper img {
    max-width:100%;    
}
#wrapper .btn:active {
      transform:scale(0.8);
}

.pageItem {
    position:absolute;
    width:100%;
    height:100%;
    display:none;
}
#homePage {
    background:url(imgs/home/1.jpg) 0 0 no-repeat;
    background-size:contain;
    display:block;
}

#homePageHead {
    width:8%;
    float:right;
    margin-top:5%;
    margin-right:5%;
}

#homePageBottom {
    width:100%;
    height:44%;
    position:absolute;
    /*left:100%;*/
    left:0;
    bottom:0;
}
#airPlane {
    width:65%;
    position:relative;
    left:100%;
    top:14%;
    /*animation:aAirPlane 2s cubic-bezier(.15,.93,.9,.08);*/
    animation:aAirPlane 2s ease-in;
    animation-fill-mode:forwards;
}

@keyframes aAirPlane {
    100% {
         left:18%;
    }
}

#genderBtns {
    width:80%;
    margin:15% auto;
    left:100%;
    bottom:23%;
}
    #genderBtns img {
        max-width:48%;
      
    }
    #genderBtns img:nth-child(1) {
        margin-right: 2%;
    }

/*等待页面*/
#loadingPage {
    background:url(imgs/loading/1.jpg) 0 0 no-repeat;
    background-size:contain;
    display:none;
}

#loadingPageContent{
    height:35%;
    width:55%;
    margin:0 auto;    
    margin-top:46%;
}
#loadingPageContent .smallItem {
    height:44%; 
}
#loadingPageContent .normatItem {
    height:8%;
    margin-bottom:10%;
}
#girlAndNet {
    margin-bottom:2%;
}
#girlAndNet img {
    max-width:30%;
}
#girlAndNet .runnningGirl {
    margin-left:9%;
    /*animation:aRuningGirl 3s cubic-bezier(.15,.93,.9,.08) infinite alternate;*/
    animation:aRuningGirl 2s linear infinite alternate;
}
@keyframes aRuningGirl {
    100% {
        transform:translateY(1em);
    }
}
#girlAndNet .net {
    max-width:50%;
    margin-left:6%;
    position:relative;
    top:-14%;
}



/**进度条开始**/
#loadingProgressBar {
    height:100%;
    background-color:#cccccc;
}

.progress {
  padding: 4px;
  background: rgba(0, 0, 0, 0.25);
  /*background: rgba(249, 232,222, 1);*/
  border-radius: 6px;
  -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
}

.progress-bar {
   width:1%;
  background-color: #86e01e;
  position: relative;
  height: 16px;
  border-radius: 4px;
  -webkit-transition: 0.4s linear;
  -moz-transition: 0.4s linear;
  -o-transition: 0.4s linear;
  transition: 0.4s linear;
  -webkit-transition-property: width, background-color;
  -moz-transition-property: width, background-color;
  -o-transition-property: width, background-color;
  transition-property: width, background-color;
  -webkit-box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  box-shadow: 0 0 1px 1px rgba(0, 0, 0, 0.25), inset 0 1px rgba(255, 255, 255, 0.1);
  animation:addProgressBar 7s ease-out;
  animation-fill-mode:forwards;
}
@keyframes addProgressBar {
    100% {
        width:100%;
    }
}


.progress-bar:before, .progress-bar:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
}
.progress-bar:before {
  bottom: 0;
  background: url("imgs/loading/stripes.png") 0 0 repeat;
  border-radius: 4px 4px 0 0;
}
.progress-bar:after {
  z-index: 2;
  bottom: 45%;
  border-radius: 4px;
  background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -moz-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: -o-linear-gradient(top, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0.3), rgba(255, 255, 255, 0.05));
}


/**进度条结束 **/

#loadingTips {
    height:20%;
    margin-top:5%;
    overflow:hidden;
}

#loadingTips .scrollTipsCon {
    width:200%;  
    animation:aScrollTips 8.4s ease-in-out  infinite;
}
#loadingTips .scrollTipsCon img {
    margin-left:100%;
}
@keyframes aScrollTips {
    to {
        transform:translateX(-200%);
    }
}
/*#loadingTips img {
    max-width:40%;
}*/



/*************响应式处理****************/

@media screen and (min-width:750px) {
    #wrapper {
        width: 590px;
        height: 100%;
        position: relative;
        margin: 0 auto;
        overflow: hidden;
    }
    #airPlane {
        top: 14%;
    }

}

@media screen and (max-width:420px) {
}

@media screen and (max-width:320px) {
}